.container {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    color: white;
}

.container hr {
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.header {
    display: flex;
    justify-content: center;
}

.header span {
    font-family: 'Poppins';
    font-size: 2.5rem;
}

.formContainer {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    height: 100%;
    
}

.form {
    display: flex;
    flex-direction: column;
    position: relative;
}

.teamInput {
    height: 2rem;
    font-family: 'Poppins';
    padding: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 5px; 
    background: inherit;
    color: white;
    outline: none;
    font-size: 1em;
}

.label {
    font-family: 'Poppins';
    position: absolute;
    left: 0;
    padding: 1rem;
    pointer-events: none;
    font-size: 1em;
    color: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    transition: 0.5s;
}

.teamInput:valid ~ .label,
.teamInput:focus ~ .label {
    color: aqua;
    transform: translateX(10px) translateY(-13px);
    font-size: 1em;
    padding: 0 10px;
    background: rgba(0, 0, 0, 0.01);
    border: 1px solid aqua;
    letter-spacing: 0.2em;
    
}
                  
.startButton {
    background-image: linear-gradient(to right, #232526 0%, #414345  51%, #232526  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    outline: none;
    border-radius: 10px;
    display: block;
    opacity: 0.5;
    margin-top: 2rem;
}

.startButton:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    opacity: 1;
    text-decoration: none;
}
 
 

@media only screen and (max-width: 800px) {
    .container {
        min-height: 500px;
    }
}